language: node_js

node_js:
  - 10

cache:
  directories:
  - node_modules

script:
  - npm run docs:build

after_success:
  - npm run docs:deploy

branches:
  except:
  - gh-pages

deploy:
  provider: pages
  skip_cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  email: simsim0709@gmail.com
  name: Ilkwon Sim
  local-dir: docs/.vuepress/dist
  repo: learn-vuejs/vue-patterns
  on:
    branch: master
