.btn {
  display: inline-block;
  font-size: 1.2rem;
  color: #212121;
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
}

.btn-primary {
  color: #fff;
  background-color: #3eaf7c;
}

.btn-danger {
  color: #fff;
  background-color: #da5961;
}

.bg-danger {
  color: #fff;
  background-color: #da5961;
}
